body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
    color: #4a4a4a;
    line-height: 24px;
}

a {
    text-decoration: none!important;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul.social-icons li {
    display: inline-block;
    margin-right: 3px;
}

ul.social-icons li:last-child {
    margin-right: 0px;
}

ul.social-icons li a {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    background-color: #eee;
    color: #121212;
    font-size: 18px;
    text-align: center;
    transition: all .3s;
}

ul.social-icons li a:hover {
    background-color: #f33f3f;
    color: #fff;
}

a.filled-button {
    background-color: #f33f3f;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
}

a.filled-button:hover {
    background-color: #121212;
    color: #fff;
}

.section-heading {
    text-align: left;
    margin-bottom: 60px;
    border-bottom: 1px solid #eee;
}

.section-heading h2 {
    font-size: 28px;
    font-weight: 400;
    color: #1e1e1e;
    margin-bottom: 15px;
}

.products-heading {
    background-image: url(../image/stack/Jordans-1200x730.jpg);
}

.about-heading {
    background-image: url(../image/about/about.jpg);
}

.contact-heading {
    background-image: url(../image/banner/blog_1.jpg);
}

.cart-heading {
    background-image: url(../image/banner/banner1.jpg);
}

.checkout-heading {
    background-color: #f33f3f;
    clip-path: polygon(50% 0%, 100% 0, 100% 54%, 21% 100%, 0 100%, 0% 60%, 0 0);
    z-index: -1;
}

.page-heading {
    padding: 210px 0px 130px 0px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-heading .text-content h4 {
    color: #ffffff;
    background-color: #6dc9ff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 15px;
}

.page-heading .text-content h2 {
    color: #f33f3f;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#preloader {
    overflow: hidden;
    background: #f33f3f;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999999;
    color: #fff;
}

#preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
}

#preloader .jumper>div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
}

#preloader .jumper>div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
}

#preloader .jumper>div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes jumper {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/********************************************* Header Style *********************************************/

header {
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 80px;
    background-color: #232323;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

header .navbar {
    padding: 17px 0px;
}

.background-header .navbar {
    padding: 17px 0px;
}

.background-header {
    top: 0;
    position: fixed;
    background-color: #fff!important;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}

.background-header .navbar-brand h2 {
    color: #121212!important;
}

.background-header .navbar-nav a.nav-link {
    color: #1e1e1e!important;
}

.background-header .navbar-nav .nav-link:hover,
.background-header .navbar-nav .active>.nav-link,
.background-header .navbar-nav .nav-link.active,
.background-header .navbar-nav .nav-link.show,
.background-header .navbar-nav .show>.nav-link {
    color: #f33f3f!important;
}

.navbar .navbar-logo img {
    height: 5em;
    outline: none;
    margin-top: -12px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.navbar .navbar-brand {
    float: left;
    margin-top: -12px;
    outline: none;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.navbar .navbar-brand h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

.navbar .navbar-brand h2 em {
    font-style: normal;
    color: #f33f3f;
}

#navbarResponsive {
    z-index: 999;
}

.navbar-collapse {
    text-align: center;
}

.navbar .navbar-nav .nav-item {
    margin: 0px 15px;
}

.navbar .navbar-nav a.nav-link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #fff;
    transition: all 0.5s;
    margin-top: 5px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .active>.nav-link,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .show>.nav-link {
    color: #fff;
    padding-bottom: 25px;
    border-bottom: 3px solid #f33f3f;
}

.navbar .navbar-toggler-icon {
    background-image: none;
}

.navbar .navbar-toggler {
    border-color: #fff;
    background-color: #fff;
    height: 36px;
    outline: none;
    border-radius: 0px;
    position: absolute;
    right: 30px;
    top: 20px;
}

.navbar .navbar-toggler-icon:after {
    content: '\f0c9';
    color: #f33f3f;
    font-size: 18px;
    line-height: 26px;
    font-family: 'FontAwesome';
}


/*********************************************  Banner Style *********************************************/

.banner {
    position: relative;
    text-align: center;
    padding-top: 80px;
}

.banner-item-01 {
    padding: 300px 0px;
    background-image: url(../image/banner/GOFER.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-item-02 {
    padding: 300px 0px;
    background-image: url(../image/banner/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner-item-03 {
    padding: 300px 0px;
    background-image: url(../image/banner/alin-surdu-02nDuK2WEJg-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner .banner-item {
    max-height: 600px;
}

.banner .text-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.banner .text-content h4 {
    color: #f0b906;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
}

.banner .text-content h2 {
    color: #fff;
    font-size: 62px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.owl-banner .owl-dots .owl-dot {
    border-radius: 8px;
}

.owl-banner .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}

.owl-banner .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    opacity: 0.5;
}

.owl-banner .owl-dots .owl-dot:focus {
    outline: none;
}

.owl-banner .owl-dots .owl-dot.active {
    background-color: #fff;
    opacity: 4;
}


/******************************************** Latest Produtcs *****************************************/

.latest-products {
    margin-top: 100px;
}

.latest-products .section-heading a {
    float: right;
    margin-top: -35px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #f33f3f;
}

.product-item {
    border: 1px solid #eee;
    margin-bottom: 30px;
}

.product-item .down-content {
    padding: 30px;
    position: relative;
}

.product-item img {
    width: 100%;
    overflow: hidden;
    transform: transform.5s ease;
}

.product-item img:hover {
    transform: scale(1.1);
}

.product-item .down-content h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 20px;
}

.product-item .down-content h6 {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 18px;
    color: #121212;
}

.product-item .down-content p {
    margin-bottom: 20px;
}

.product-item .down-content ul li {
    display: inline-block;
}

.product-item .down-content ul li i {
    color: #f5a700;
    font-size: 14px;
}

.product-item .down-content span {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 13px;
    color: #800000;
    font-weight: 500;
}

.product-item :hover {
    background-color: #e65050;
    color: #ffffff;
}

.product-item .down-content ul li i:hover {
    color: #ffffff;
    font-size: 14px;
}

.product-item .down-content span:hover {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
}

.product-item .down-content h4:hover {
    font-size: 17px;
    color: #ffffff;
    margin-bottom: 20px;
}

.product-item .down-content h6:hover {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 18px;
    color: #fffefe;
}


/*---------------------  Deal Of The Month  -----------------------*/

.deal-of-week {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 65px;
    margin-right: 65px;
}

.countdown-timer {
    text-align: center;
    margin-bottom: 50px;
}

.countdown-timer .cd-item {
    display: inline-block;
    background: #ffffff;
    margin-right: 35px;
    padding: 10px 14px;
    border-radius: 5px;
}

.countdown-timer .cd-item:last-child {
    margin-right: 0;
}

.countdown-timer .cd-item span {
    color: #e7ab3c;
    font-weight: 700;
    line-height: 40px;
    font-size: 36px;
}

.countdown-timer .cd-item p {
    font-size: 16px;
    color: #b2b2b2;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


/********************************************* Benefit-items *********************************************/

.benefit-items {
    border: 2px solid #ebebeb;
    margin-top: 45px;
    background-color: rgb(240, 229, 229);
}

.benefit-items .single-benefit {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 55px;
    padding-right: 55px;
    border-right: 1px solid #F3F4F0;
}

.benefit-items .single-benefit .sb-icon {
    float: left;
    margin-right: 20px;
}

.benefit-items .single-benefit .sb-text {
    display: table;
}

.benefit-items .single-benefit .sb-text h6 {
    color: #252525;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.benefit-items .single-benefit .sb-text p {
    margin-bottom: 0;
    color: #252525;
    line-height: 20px;
}


/*---------------------     Breadcrumb -----------------------*/

.breadcrumb-text {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0;
}

.breadcrumb-text.product-more a:nth-child(1):after {
    color: #252525;
}

.breadcrumb-text a {
    display: inline-block;
    font-size: 16px;
    color: #252525;
    margin-right: 28px;
    position: relative;
}

.breadcrumb-text a:after {
    position: absolute;
    right: -18px;
    top: 0px;
    content: "";
    font-family: "FontAwesome";
    font-size: 16px;
    color: #b2b2b2;
}

.breadcrumb-text span {
    display: inline-block;
    color: #b2b2b2;
}


/*---------------------    Product Shop -----------------------*/

.product-shop {
    padding-top: 80px;
    padding-bottom: 80px;
}

.filter-widget {
    margin-bottom: 45px;
}

.filter-widget .fw-title {
    color: #252525;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 26px;
}

.filter-widget .filter-catagories li {
    list-style: none;
}

.filter-widget .filter-catagories li a {
    display: inline-block;
    color: #636363;
    font-size: 16px;
    line-height: 39px;
}

.filter-widget .fw-brand-check .bc-item {
    margin-bottom: 3px;
}

.filter-widget .fw-brand-check .bc-item label {
    position: relative;
    cursor: pointer;
    padding-left: 28px;
}

.filter-widget .fw-brand-check .bc-item label input {
    position: absolute;
    visibility: hidden;
}

.filter-widget .fw-brand-check .bc-item label input:checked~span {
    background: #e7ab3c;
    border-color: #e7ab3c;
}

.filter-widget .fw-brand-check .bc-item label .checkmark {
    position: absolute;
    left: 0;
    top: 5px;
    height: 15px;
    width: 15px;
    border: 2px solid #ebebeb;
    border-radius: 2px;
}

.filter-widget .fw-brand-check .bc-item label .checkmark:after {
    left: 0;
    top: 0;
    width: 10px;
    height: 8px;
    border: solid white;
    border-width: 3px 3px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
}

.filter-widget .filter-range-wrap {
    margin-bottom: 40px;
}

.filter-widget .filter-range-wrap .range-slider {
    margin-bottom: 25px;
}

.filter-widget .filter-range-wrap .range-slider .price-input {
    position: relative;
}

.filter-widget .filter-range-wrap .range-slider .price-input:after {
    position: absolute;
    left: 58px;
    top: 13px;
    height: 1px;
    width: 17px;
    background: #ebebeb;
    content: "";
}

.filter-widget .filter-range-wrap .range-slider .price-input input {
    font-size: 16px;
    color: #252525;
    max-width: 20%;
    text-align: center;
    border: 1px solid #ebebeb;
    border-radius: 2px;
}

.filter-widget .filter-range-wrap .range-slider .price-input input:nth-child(1) {
    margin-right: 28px;
}

.filter-widget .filter-range-wrap .price-range {
    border-radius: 0;
}

.filter-widget .filter-range-wrap .price-range.ui-widget-content {
    border: none;
    background: #ebebeb;
    height: 3px;
}

.filter-widget .filter-range-wrap .price-range.ui-widget-content .ui-slider-handle {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #ffffff;
    border: none;
    -webkit-box-shadow: 1px 6px 14px -4px #425c6d;
    box-shadow: 1px 6px 14px -4px #425c6d;
    outline: none;
}

.filter-widget .filter-range-wrap .price-range .ui-slider-range {
    background: #ebebeb;
    border-radius: 0;
}

.filter-widget .filter-range-wrap .price-range .ui-slider-range.ui-corner-all.ui-widget-header:last-child {
    background: #e7ab3c;
}

.filter-widget .filter-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    background: #e7ab3c;
    padding: 7px 20px 5px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
}

.filter-widget .fw-color-choose .cs-item {
    width: 50%;
    float: left;
    margin-bottom: 4px;
}

.filter-widget .fw-color-choose .cs-item input {
    position: absolute;
    visibility: hidden;
}

.filter-widget .fw-color-choose .cs-item label {
    cursor: pointer;
    position: relative;
    padding-left: 33px;
    font-size: 16px;
    color: #636363;
}

.filter-widget .fw-color-choose .cs-item label.cs-violet:before {
    background: #8230E3;
}

.filter-widget .fw-color-choose .cs-item label.cs-blue:before {
    background: #2773BE;
}

.filter-widget .fw-color-choose .cs-item label.cs-yellow:before {
    background: #EEEE21;
}

.filter-widget .fw-color-choose .cs-item label.cs-red:before {
    background: #DC3232;
}

.filter-widget .fw-color-choose .cs-item label.cs-green:before {
    background: #81D742;
}

.filter-widget .fw-color-choose .cs-item label:before {
    position: absolute;
    left: 0;
    top: 4px;
    height: 18px;
    width: 18px;
    background: #252525;
    border-radius: 50%;
    content: "";
}

.filter-widget .fw-size-choose .sc-item {
    display: inline-block;
    margin-right: 5px;
}

.filter-widget .fw-size-choose .sc-item:last-child {
    margin-right: 0;
}

.filter-widget .fw-size-choose .sc-item input {
    position: absolute;
    visibility: hidden;
}

.filter-widget .fw-size-choose .sc-item label {
    font-size: 16px;
    color: #252525;
    font-weight: 700;
    height: 40px;
    width: 47px;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-widget .fw-size-choose .sc-item label.active {
    background: #252525;
    color: #ffffff;
}

.filter-widget .fw-tags a {
    display: inline-block;
    font-size: 16px;
    color: #636363;
    padding: 5px 15px;
    border: 1px solid #ebebeb;
    margin-right: 5px;
    margin-bottom: 9px;
    border-radius: 2px;
}

.checkmark:after {
    position: absolute;
    content: "";
}

.product-show-option {
    margin-bottom: 30px;
}

.product-show-option .select-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.product-show-option .select-option .nice-select {
    border-radius: 0;
    border: 1px solid #ECEDEE;
    height: 40px;
    line-height: 35px;
}

.product-show-option .select-option .nice-select .list {
    margin-top: 0;
    border-radius: 0;
    width: 100%;
}

.product-show-option .select-option .nice-select:after {
    border-bottom: 2px solid #4c4c4c;
    border-right: 2px solid #4c4c4c;
    height: 7px;
    right: 22px;
    top: 47%;
    width: 7px;
    opacity: 0.7;
}

.product-show-option .select-option .nice-select span {
    font-size: 16px;
    color: #4c4c4c;
}

.product-show-option .select-option .sorting {
    margin-right: 20px;
}

.product-show-option .select-option .sorting.nice-select {
    padding-right: 70px;
}

.product-show-option .select-option .p-show.nice-select {
    padding-right: 105px;
}

.product-show-option .select-option .p-show.nice-select:before {
    position: absolute;
    right: 48px;
    top: 0;
    content: "09";
    font-size: 16px;
    color: #252525;
}

.product-show-option p {
    margin-bottom: 0;
    color: #636363;
    line-height: 39px;
}

.prduct-list .product-item {
    margin-bottom: 25px;
}

.loading-more {
    text-align: center;
    padding-top: 10px;
}

.loading-more i {
    font-size: 22px;
    color: #663333;
    margin-right: 6px;
    position: relative;
    top: 7px;
}

.loading-more a {
    font-size: 18px;
    font-weight: 700;
    color: #252525;
    position: relative;
    display: inline-block;
}

.loading-more a:before {
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #e7ab3c;
    content: "";
}


/********************************************* Best Features *********************************************/

.about-features {
    margin-top: 100px!important;
}

.about-features p {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.about-features .container .row {
    padding-bottom: 0px!important;
    border-bottom: none!important;
}

.best-features {
    margin-top: 50px;
}

.best-features .container .row {
    border-bottom: 1px solid #eee;
    padding-bottom: 60px;
}

.best-features img {
    width: 100%;
    overflow: hidden;
}

.best-features h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 20px;
}

.best-features ul.featured-list li {
    display: block;
    margin-bottom: 10px;
}

.best-features p {
    margin-bottom: 25px;
}

.best-features ul.featured-list li a {
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 300;
    transition: all .3s;
    position: relative;
    padding-left: 13px;
}

.best-features ul.featured-list li a:before {
    content: '';
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #4a4a4a;
    position: absolute;
    left: 0;
    transition: all .3s;
    top: 8px;
}

.best-features ul.featured-list li a:hover {
    color: #f33f3f;
}

.best-features ul.featured-list li a:hover::before {
    background-color: #f33f3f;
}

.best-features .filled-button {
    margin-top: 20px;
}


/********************************************* Call To Action *********************************************/

.call-to-action .inner-content {
    margin-top: 60px;
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 5px;
}

.call-to-action .inner-content h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 15px;
}

.call-to-action .inner-content em {
    font-style: normal;
    font-weight: 700;
}

.call-to-action .inner-content .col-md-4 {
    text-align: right;
}

.call-to-action .inner-content .filled-button {
    margin-top: 12px;
}


/********************************************* Footer *********************************************/

.footer-section {
    background: #191919;
    padding-top: 75px;
}

.footer-left {
    margin-bottom: 30px;
}

.footer-left .footer-logo {
    margin-bottom: 2px;
}

.footer-left .footer-logo a {
    display: inline-block;
}

.footer-left ul li {
    list-style: none;
    color: #b2b2b2;
    font-size: 16px;
    line-height: 30px;
}

.footer-left .footer-social {
    padding-top: 25px;
}

.footer-left .footer-social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: #434445;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 7px;
    position: relative;
    z-index: 1;
}

.footer-left .footer-social a:hover:before {
    opacity: 1;
}

.footer-left .footer-social a:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #e7ab3c;
    content: "";
    border-radius: 50%;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    z-index: -1;
}

.footer-widget {
    margin-bottom: 30px;
}

.footer-widget h5 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 26px;
}

.footer-widget ul li {
    list-style: none;
}

.footer-widget ul li a {
    line-height: 36px;
    font-size: 16px;
    color: #b2b2b2;
}

.newslatter-item h5 {
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 30px;
}

.newslatter-item p {
    color: #b2b2b2;
    line-height: 26px;
}

.newslatter-item .subscribe-form {
    position: relative;
}

.newslatter-item .subscribe-form input {
    color: #b2b2b2;
    background: #303030;
    width: 100%;
    height: 46px;
    font-size: 16px;
    border: none;
    padding-left: 20px;
}

.newslatter-item .subscribe-form input::-webkit-input-placeholder {
    color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-moz-placeholder {
    color: #b2b2b2;
}

.newslatter-item .subscribe-form input:-ms-input-placeholder {
    color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-ms-input-placeholder {
    color: #b2b2b2;
}

.newslatter-item .subscribe-form input::placeholder {
    color: #b2b2b2;
}

.newslatter-item .subscribe-form button {
    display: inline-block;
    color: #ffffff;
    background: #e7ab3c;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #e7ab3c;
    position: absolute;
    right: 0;
    top: 0;
    padding: 13px 20px 12px;
    cursor: pointer;
}

.copyright-reserved {
    border-top: 1px solid #303030;
    padding: 15px 0;
    margin-top: 45px;
}

.copyright-reserved .copyright-text {
    float: left;
    font-size: 16px;
    color: #b2b2b2;
}

.copyright-reserved .copyright-text a {
    color: #b2b2b2;
}

.copyright-reserved .copyright-text i {
    color: #cc2424;
}

.copyright-reserved .copyright-text a:hover {
    color: #e7ab3c;
}

.copyright-reserved .payment-pic {
    float: right;
}


/********************************************* Product Page *********************************************/

.products {
    margin-top: 100px;
}

.products .filters {
    text-align: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 60px;
}

.products .filters li {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    color: #121212;
    display: inline-block;
    margin: 0px 10px;
    transition: all .3s;
    cursor: pointer;
}

.products .filters ul li.active,
.products .filters ul li:hover {
    color: #f33f3f;
}

.products ul.pages {
    margin-top: 30px;
    text-align: center;
}

.products ul.pages li {
    display: inline-block;
    margin: 0px 2px;
}

.products ul.pages li a {
    width: 44px;
    height: 44px;
    display: inline-block;
    line-height: 42px;
    border: 1px solid #eee;
    font-size: 15px;
    font-weight: 700;
    color: #121212;
    transition: all .3s;
}

.products ul.pages li a:hover,
.products ul.pages li.active a {
    background-color: #f33f3f;
    border-color: #f33f3f;
    color: #fff;
}


/********************************************* Team Members *********************************************/

.team-members {
    margin-top: 100px;
}

.team-member {
    border: 1px solid #eee;
    margin-bottom: 30px;
}

.team-member img {
    width: 100%;
    overflow: hidden;
}

.team-member .down-content {
    padding: 30px;
    text-align: center;
}

.team-member .thumb-container {
    position: relative;
}

.team-member .thumb-container .hover-effect {
    position: absolute;
    background-color: rgba(243, 63, 63, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
}

.team-member .thumb-container .hover-effect .hover-content {
    position: absolute;
    display: inline-block;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.team-member .thumb-container .hover-effect .hover-content ul.social-icons li a:hover {
    background-color: #fff;
    color: #f33f3f;
}

.team-member:hover .hover-effect {
    visibility: visible;
    opacity: 1;
}

.team-member .down-content h4 {
    font-size: 17px;
    color: #1a6692;
    margin-bottom: 8px;
}

.team-member .down-content span {
    display: block;
    font-size: 13px;
    color: #f33f3f;
    font-weight: 500;
    margin-bottom: 20px;
}


/********************************************* Send Message *********************************************/

.send-message {
    margin-top: 100px;
}

.contact-form input {
    font-size: 14px;
    width: 100%;
    height: 44px;
    display: inline-block;
    line-height: 42px;
    border: 1px solid #eee;
    border-radius: 0px;
    margin-bottom: 30px;
}

.contact-form input:focus {
    box-shadow: none;
    border: 1px solid #eee;
}

.contact-form textarea {
    font-size: 14px;
    width: 100%;
    min-width: 100%;
    min-height: 120px;
    height: 120px;
    max-height: 180px;
    border: 1px solid #eee;
    border-radius: 0px;
    margin-bottom: 30px;
}

.contact-form textarea:focus {
    box-shadow: none;
    border: 1px solid #eee;
}

.contact-form button.filled-button {
    background-color: #f33f3f;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s;
    border: none;
    outline: none;
    cursor: pointer;
}

.contact-form button.filled-button:hover {
    background-color: #121212;
    color: #fff;
}

.accordion {
    margin-left: 30px;
}

.accordion a {
    cursor: pointer;
    font-size: 17px;
    color: #1a6692!important;
    margin-bottom: 20px;
    transition: all .3s;
}

.accordion a:hover {
    color: #f33f3f!important;
}

.accordion a.active {
    color: #f33f3f!important;
}

.accordion li .content {
    display: none;
    margin-top: 10px;
}

.accordion li:first-child {
    border-top: 1px solid #eee;
}

.accordion li {
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
}


/********************************************* LoginPage *********************************************/

divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}


/********************************************* signPage *********************************************/


/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    /*Image only BG fallback*/
    /*background = gradient + image pattern combo*/
    background-image: url(./image/banner/Banner0.png);
}

body {
    font-family: montserrat, arial, verdana;
}


/*form styles*/

#msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

#msform fieldset {
    background: rgb(255, 255, 255);
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(218, 38, 38, 0.918);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 10%;
    /*stacking fieldsets above each other*/
    position: relative;
}

.fieldset #first {
    width: 500px;
}


/*Hide all except first fieldset*/

#msform fieldset:not(:first-of-type) {
    display: none;
}


/*inputs*/

#msform input,
#msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}


/*buttons*/

#msform .action-button {
    width: 100px;
    background: #f33f3f;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #f33f3f;
}


/*headings*/

.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}


/*progressbar*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #121212;
    text-transform: uppercase;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}


/*progressbar connectors*/

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1;
    /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}


/*marking active/completed steps green*/


/*The number of the step and the connector before it = green*/

#progressbar li.active:before,
#progressbar li.active:after {
    background: #f33f3f;
    color: white;
}


/* tick and cross icons styles */

.tick1 {
    font-size: 18px !important;
    color: rgb(16, 107, 4);
}

.cross1 {
    font-size: 18px !important;
    color: red;
}

.tick2 {
    font-size: 18px !important;
    color: rgb(16, 107, 4);
}

.cross2 {
    font-size: 18px !important;
    color: red;
}


/* Password Strength Checker Styles */

#meter_wrapper {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100px;
    height: 33px;
    margin: 0;
    border-radius: 3px;
}

#meter {
    width: 0px;
    height: 31px;
    border-radius: 2px;
}

#pass_type {
    font-size: 15px;
    margin-top: 7px;
    position: absolute;
    top: 0;
    right: 25px;
    margin-bottom: 10%;
    color: rgb(255, 255, 255);
}


/********************************************* Responsive Style *********************************************/

@media (max-width: 768px) {
    .banner .text-content {
        width: 90%;
        margin-left: 5%;
    }
    .banner .text-content h4 {
        font-size: 22px;
    }
    .banner .text-content h2 {
        font-size: 36px;
        letter-spacing: 0.5px;
    }
    .banner-item-01,
    .banner-item-02,
    .banner-item-03 {
        padding: 180px 0px;
    }
    .page-heading .text-content h4 {
        font-size: 22px;
    }
    .page-heading .text-content h2 {
        font-size: 36px;
        letter-spacing: 0.5px;
    }
    .latest-products .section-heading a {
        float: none;
        margin-top: 0px;
        display: block;
        margin-bottom: 20px;
    }
    .product-item .down-content h4 {
        margin-bottom: 20px!important;
    }
    .product-item .down-content h6 {
        position: absolute!important;
        top: 30px!important;
        right: 30px!important;
    }
    .product-item .down-content span {
        position: absolute!important;
        right: 30px!important;
        bottom: 30px!important;
    }
    .best-features .left-content {
        margin-bottom: 30px;
    }
    .call-to-action .inner-content {
        text-align: center;
    }
    .call-to-action .inner-content .filled-button {
        text-align: center;
        width: 100%;
        margin-top: 20px;
    }
    .about-features img {
        margin-bottom: 30px;
    }
    .service-item {
        margin-bottom: 30px;
    }
    .find-us #map {
        margin-bottom: 30px;
    }
    .find-us .left-content {
        margin-left: 0px;
    }
    .send-message .accordion {
        margin-top: 30px;
        margin-left: 0px;
    }
}

@media (max-width: 992px) {
    .navbar .navbar-brand {
        position: absolute;
        left: 30px;
        top: 32px;
    }
    .navbar .navbar-brand {
        width: auto;
    }
    .navbar:after {
        display: none;
    }
    #navbarResponsive {
        z-index: 99999;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    }
    .navbar .navbar-nav .nav-item {
        border-bottom: 1px solid #eee;
    }
    .navbar .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }
    .navbar .navbar-nav a.nav-link {
        padding: 15px 0px;
        color: #1e1e1e!important;
    }
    .navbar .navbar-nav .nav-link:hover,
    .navbar .navbar-nav .active>.nav-link,
    .navbar .navbar-nav .nav-link.active,
    .navbar .navbar-nav .nav-link.show,
    .navbar .navbar-nav .show>.nav-link {
        color: #f33f3f!important;
        border-bottom: none!important;
        padding-bottom: 15px;
    }
    .product-item .down-content h4 {
        margin-bottom: 10px;
    }
    .product-item .down-content h6 {
        position: relative;
        top: 0;
        right: 0;
        margin-bottom: 20px;
    }
    .product-item .down-content span {
        position: relative;
        right: 0;
        bottom: 0;
    }
}